<a
  href={{@href}}
  rel="noreferrer"
  referrerpolicy="no-referrer"
  class="content-col {{if @delay "content-col--delay"}}"
  ...attributes
  {{did-insert (fn this.setIn)}}
>
  <p>
    {{fa-icon @icon size="4"}}
  </p>
  <p>
    {{yield}}
  </p>
</a>